/* Normalização simples: */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* Corres do projeto: */
:root{ 
    --color-primary: #D67BFF;
    --color-secondary: #FFA732;
    --black: #000000;
    --withe: #ffffff;
    --background: linear-gradient(90deg, #ffe701 0%, #fff2e6 100%);
}

body{
    background-color: var(--background);
    padding: 0 1rem; /*espaçamento na lateral da página*/
}

.logo{
    max-width: 5rem;
}
/* Cabeçalho do página: */
header, .hero-section, .courses-section, footer{
    border-width: 0 1px 1px 1px;
    border-style:solid;
    border-color: var(--black);
    padding: 1.25rem;
}

header img{
    display: block;
    margin: 1rem auto;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divisão do conteúdo em 2 colunas */
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

nav a {
    color: var(--black);
    font-size: 1.25rem;
    padding: .5rem;
}

/* Alinhar à direita itens do lado esquerda */
header nav a:nth-child(2n-1){
    text-align:right;
}

.orange-button {
    background-color: var(--color-primary);
    color: var(--black);
    font-size: 1.25rem;
    padding: .75rem 1rem;
    border: 2px solid var(--black);
    box-shadow: 4px 4px 0 var(--black);
    display: block;
    max-width: 14rem;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

/* Sessão Principal da página */
.hero-section{
    padding-right: 0; /* a imagem ficará sempre ao lado direito*/
    padding-bottom: 16rem;
}

.hero-section img{
    display: block;
    margin: 1.25rem, 0, 0, auto;
    max-width: 50%;
    border-radius: 250px;
    margin-right: 50px;
}

h1{
    font-size: 2.5rem;
    line-height: 105%;
}

h2{
    font-size: 2rem;
}

.hero-section p {
    font-size: 1.25rem;
    line-height: 25px;
    padding-right: 1.25rem;
}

/* Os detalhes no texto não possuem finalidade na página a não ser estilização, dessa maneira, serão implementados pelo CSS com pseudoseletores: */
.hero-section .orange-button{
    position: relative; /* Para ser possível utilizar seu pseudoseletor com a posição absoluta*/
}

.hero-section .orange-button::after{
    content: ' ';
    background: url("https://raw.githubusercontent.com/CassiaSantos/cassia-santos-portifolio-de-projetos/a5168930f12bc127ace10c81337bb4f1fdebb96e/assets/img/arrow-curve.svg");
    position: absolute;
    width: 132px;
    height: 48px;
    top: 5rem;
    right: -1rem;
}

.decoration{
    display: block;
    position: relative;
}

.decoration::after{
    content: ' ';
    background: url("https://raw.githubusercontent.com/CassiaSantos/cassia-santos-portifolio-de-projetos/a5168930f12bc127ace10c81337bb4f1fdebb96e/assets/img/three-dashes.svg");
    position: absolute;
    height: 36px;
    width: 40px;
    top: -0.77rem;
}

.courses-section{
    padding-bottom: 7rem;
}

.cards-cursos{
    display: flex;
    flex-direction: column;
    align-items: start; /*ficarão alinhados à esquerda*/
    gap: 1.25rem;
    margin-top: -8rem; /* margem negativa fará os cars subirem*/
    margin-bottom: 4rem;
}

/* Estilização interna do card */
.card{
    background-color: var(--color-primary);
    border: 2px;
    border-style: solid;
    box-shadow: 4px 4px 0 var(--black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
}

.card:nth-child(2n){
    background-color: var(--color-secondary);
    align-self: end;
}

.nome-curso{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.card a{
    display: block;
    margin: 3rem 0 0 auto;
    width: fit-content; /* largura se ajusta ao conteúdo, e então ele fica no canto */
}

footer{
    border-bottom: none;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.25rem 4rem;
}

footer img{
    display: block;
    margin: 1rem auto;
}

footer span{
    color: #D67BFF
}

footer nav a{
    display: block;
    padding-left: 0;
    padding: 1.25rem;
   text-align: center;
}

.newsletter-form{
    display: block;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

.newsletter-form .email{
    background-color: #ffffff;
    display: block;
    border-style: solid;
    box-shadow: 4px 4px 0 var(--black);
    padding: .5rem;
    font-size: 1.25rem;
    width: 90%;
}


/* Classes úteis: */
.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.text-primary{
    color: var(--color-primary);
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    text-align: center;
}

/* RESPONSIVIDADE */
@media screen and (min-width: 40rem) {
    header nav {
        display: block;
        text-align: center;
    }

    .cards-cursos {
        flex-direction: row;
        flex-wrap: wrap; /* quebra a linha ao ultrapassar largura máxima da página*/
        justify-content: center;
    }

    .card:nth-child(2n){
        margin-top: 1rem;
    }
}

@media screen and (min-width: 48rem) {
    header div{
        display: flex; /*conteúdo da div ficar organizado horizontalmente*/
        align-items: center; /* ajustou altura dos links de navegação*/
        justify-content: space-between;
    }

    header img,
    header nav a,
    header .orange-button {
        margin: 0;
    }
}

@media screen and (min-width:72rem) {
    .container{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 72rem;
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    
    .container.row-reverse{
        flex-direction: row-reverse; /*altera a ordem padrão do flex: da esquerda para a direita*/
    }
    
    .hero-section .orange-button{
        margin: 0;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    footer .container{
        margin: 0 5rem;
    }

    footer img {
       margin-left: 0;
    }

    .about-column{
        flex: 3;
    }

    .about-column p{
        font-size: 1.25rem;
        max-width: 16rem;
        text-align: left;
    }

    footer nav {
        flex: 3.5;
    }

    .newsletter-form{
        flex: 5.5;
    }
}

/* Telas full HD: */
@media screen and (min-width:80rem) {
    .container{
        max-width: 80rem;
    }
}